{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
  {% block title %} Изменение Жанра {% endblock title %}
  {% block main %} 
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Изменить Жанр</h1>
      </div>
    </section>
    <div class="album py-5 bg-light"> 
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger">Отправить</button>
      </form>
    </div>
  {% endblock main %}