<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {{ all_req }}
        <table border="1">
            <tr>
                <th>id_pr</th><th>ip_adr</th><th>date_request</th><th>safari</th><th>firefox</th><th>unrefined_string</th>
            </tr>
        {% for Userrequest in Userrequests %}
            <tr> 
                <td>{{ Userrequest.id_pr }}</td>
                <td>{{ Userrequest.ip_adr }}</td>
                <td>{{ Userrequest.date_request }}</td>
                <td>{{ Userrequest.safari }}</td>
                <td>{{ Userrequest.firefox }}</td>
                <td>{{ Userrequest.unrefined_string }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>