{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
  {% block title %} Удаление книги из корзины {% endblock title %}
  {% block main %}
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-8">
        <section class="jumbotron text-center">
          <div class="container">
            <h1>Вы действительно хотите изменить статус?</h1>
          </div>
        </section>
        <div class="album py-5 bg-light"> 
          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">Подтвердить</button>
          </form>
        </div>
      </div>
      <div class="col">
      </div>
    </div> 
  {% endblock main %}