{% extends "base.html" %}
{% load static %}
  {% block title %} Список книг {% endblock title %}
  {% block main %}
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-7">
        <section class="jumbotron text-center">
          <div class="container">
          <h1>Список книг</h1>
          </div>
        </section> 
        <div class="album py-5 bg-light"> 
          <div class="container">
            <div class="row">
              {% for obj in object_list %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                        <a href="{% url 'books:detail' obj.pk %}"> 
                          {% if obj.cover_photo %}
                            <p><img src="{{ obj.cover_photo.url }}" width="150" height="200"></p>
                          {% else %}
                            <p></p>
                          {% endif %}
                        </a> 
                        <div class="card-body">
                          <p class="card-text">{{ obj.name }}
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                {% if 'books.change_books' and 'books.delete_books' in perms %}
                                  <a href="{% url 'books:update' obj.pk %}"><i class="fas fa-pen"></i><br>
                                  <a href="{% url 'books:delete' obj.pk %}"><i class="fas fa-trash"></i></a><br>
                                  {% comment %} <a href="{% url 'basket:add'%}?book_pk={{ obj.pk }}"><i class="fas fa-shopping-basket"></i></a><br> {% endcomment %}
                                {% endif %}
                                {% comment %} {% if 'books.change_books' and 'books.delete_books' in perms %} {% endcomment %}
                                  <a href="{% url 'basket:add'%}?book_pk={{ obj.pk }}"><i class="fas fa-shopping-basket"></i></a><br>
                                {% comment %} {% endif %} {% endcomment %}
                              </div>
                              <small class="text-muted">{{ obj.card_change_date }}</small>
                            </div>
                          </p>
                        </div>
                  </div>
                </div>
              {% endfor %} 
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        
      </div>
    </div>
  {% endblock main %}


