{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
  {% block title %} Добавление в корзину {% endblock title %}
  {% block main %}

    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-7">
        <section class="jumbotron text-center">
          <div class="container">
            <h1>Добавить книгу в корзину ?</h1>
          </div>
        </section>
        <div class="album py-5 bg-light"> 
          <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">Отправить</button>
          </form>
        </div>
      </div>
      <div class="col">
        
      </div>
    </div> 














  {% endblock main %}